<% for (var i = 0; i < results.length; i++) { %>
    <% if (results[i].container === container) { %>
        <div class="card cell small-12 medium-6">
            <div class="card-divider">
                RESULTS FOR <%= results[i].name %> <% if (ballots[i].closed) { %>(CLOSED)<% } %>
            </div>
            
            <ul class="ballot-list">
                <% for (var j = 0; j < results[i].scores.length; j++) { %>
                    <li class="ballot-list-item">
                        <span class="ballot-result-candidate">Candidate: <%= results[i].scores[j].name %></span>

                        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= results[i].scores[j].percentage %>" aria-valuemin="0" aria-valuetext="<%= results[i].scores[j].percentage %> percent" aria-valuemax="100">
                            <span class="progress-meter" style="width: <%= results[i].scores[j].percentage %>%">
                                <p class="progress-meter-text"><%= results[i].scores[j].percentage %>%</p>
                            </span>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    <% } %>
<% } %>