<% layout('layout') -%>

<div class="grid-x">
    <div class="card cell">
        <div class="card-divider">
            ALL AVAILABLE BALLOTS
        </div>
    
        <table class="hover striped stack">
            <thead>
                <tr>
                    <th>Ballot Name</th>
                    <th>Ballot Description</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
    
            <tbody>
                <% for (var i = 0; i < ballots.length; i++) { %>
                    <tr>
                        <td>
                            <%= ballots[i].name %>
                        </td>
                        <td>
                            <%= ballots[i].description %>
                        </td>
                        <td>
                            <%= ballots[i].type %>
                        </td>
                        <td>
                            <a class="button" href="/ballots/edit/<%= ballots[i].type %>/<%= ballots[i].id %>">EDIT</a>
                        </td>
                        <td>
                            <% if (ballots[i].closed) { %>
                                <a class="button" href="/ballots/open/<%= ballots[i].type %>/<%= ballots[i].id %>">OPEN</a>                                
                            <% } else { %>
                                <a class="button" href="/ballots/close/<%= ballots[i].type %>/<%= ballots[i].id %>">CLOSE</a>                                
                            <% } %>
                        </td>
                        <td>
                            <a class="button" href="/ballots/delete/<%= ballots[i].type %>/<%= ballots[i].id %>">DELETE</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
